body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #1F2937;
}

.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Header styles */
.top-container{
    background-color: #1F2937;
    display: flex;
    justify-content: center;    
}

.header{
    width: 65em;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 16px;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:16px
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero section styles */

.hero-section{
    width: 65em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    gap: 50px;
}

h1.hero-title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

p.hero-text, .img-placeholder, button{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    font-weight: bold;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 16px;
    border-style: none;
}

.img-placeholder{
    background-color: #6d747d;
    height: 260px;
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* Info section styles */
.info-section{
    text-align: center;
    padding-bottom: 100px;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    padding: 0px 48px;
}
.info-boxes{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.box {
    border: 4px solid #3b82F6;
    border-radius: 18px;
    height: 150px;
    width: 150px;
}

.item {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quote section styles */
.quote-section{
    background-color: #E5E7EB;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.quote-section > div{
    width: 800px;
}
.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.quote-author{
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bold;
}

/* Call to action section styles */
.bottom-callToAction{
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}

.callToAction-box{
    width: 55em;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 45px 100px;
}
.inner-box{
    display: flex;
    justify-content: space-between;
}
.cta-title{
    font-size: 24px;
    margin: 0;
    margin-bottom: 12px;
}

.cta-button{
    border: 2px solid #F9FAF8;
}
#cta-button-container{
    display: flex;
    align-items: center;
}

/* Footer styles */
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 60px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}