body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
/* Header styles */
.top-container{
    background-color: #1F2937;
    display: flex;
    justify-content: center;    
}

.header{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 16px;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:16px
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero section styles */

.hero-section{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    gap: 32px;
}

h1.hero-title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

p.hero-text, .img-placeholder, button{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    font-weight: bold;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    border-style: none;
}

.img-placeholder{
    background-color: #6d747d;
    height: 280px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
/* Info section styles */
.info-section{
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    padding: 0px 48px;
    color: #1F2937;
}
.info-boxes{
    display: flex;
    justify-content: center;
    gap: 85px;
}

.box {
    border: 4px solid #3b82F6;
    border-radius: 18px;
    height: 175px;
    width: 175px;
}

.item {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Quote section styles */
.quote-section{
    background-color: #E5E7EB;
}
/* Call to action section styles */
.bottom-callToAction{
}
/* Footer styles */
.footer {
    background-color: #1F2937;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}